---
layout: default
---
<h2 class="post_title">{{page.title}}</h2>

<div class="posts">
  <link rel="canonical" href="https://www.lewisgavin.co.uk{{ page.url }}" />
  {% for post in site.posts %}
    <article class="post">

  {% for tag in post.tags %}
  {% if tag == page.tag %}
    {% assign loopindex = forloop.index | modulo: 4 %}
    {% if loopindex == 1 and forloop.first == false  %}
    {% endif %}

     {% if forloop.index > 9 %}
        <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      <h5><i class="icon-tags"></i> {% for tag in post.tags %}| <a href="/tag/{{ tag }}" title="View posts tagged with &quot;{{ tag }}&quot;"><u>{{ tag }}</u></a> |  {% if forloop.last != true %} {% endif %} {% endfor %}</h5>

          <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
        </article>

    {% else %}
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      <h5><i class="icon-tags"></i> {% for tag in post.tags %}| <a href="/tag/{{ tag }}" title="View posts tagged with &quot;{{ tag }}&quot;"><u>{{ tag }}</u></a> |  {% if forloop.last != true %} {% endif %} {% endfor %}</h5>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
   {% endif %}
  {% endif %}
  {% endfor %}
  {% endfor %}
</div>


